<footer class="footer">
   <ul class="footer__list">
    <li routerLinkActive="active" ><a href="" routerLink="/events" class="footer__link">Events</a></li>
    <li routerLinkActive="active"><a href="" routerLink="/event-at-ton" class="footer__link">ton</a></li>
    <li routerLinkActive="active"><a href="" routerLink="/event-at-ton" class="footer__link">Leaderboard</a></li>
    <li  routerLinkActive="active"> <a href="" routerLink="/guide" class="footer__link">Guide</a></li>
    <li routerLinkActive="active"><a href="" routerLink="/whitelist" class="footer__link">Whitelist</a></li>
    <li><a href="" class="footer__link">Airdrop</a></li>
   </ul>  
</footer>
