<app-logo></app-logo>
<img style="width: 100%; padding: 75px 16px 0px 16px; margin-bottom:-32px;" src="../../../assets/guide-bgc.png" alt="">
<app-heading-primary>
    <div heading style="text-align: center;">Check out the video guide</div>
</app-heading-primary>
<div class="guide">
    <button class="guide__play-btn">Play</button>
</div>
<img src="../../../assets/guide-2bgc.png" style="object-fit: cover; width: 100%;
 height: 100%;  margin: 0 auto;  padding: 0 16px;" alt="">
<div class="guide-rules">
    <div class="guide-rules__item">
        <p class="value">Donate</p>
        <p class="heading-secondary">25 usdt</p>
    </div>
    <div class="guide-rules__item">
        <p class="value">Invite</p>
        <p class="heading-secondary">5 friends</p>
    </div>
    <div class="guide-rules__item">
        <p class="value">Take
        </p>
        <p class="heading-secondary">15 625 usdt</p>
    </div>
</div>
<img style="width: 100%; padding: 24px 16px 104px 16px;" src="../../../assets/guide-bgc.png" alt="">
<app-blurred-circle></app-blurred-circle>