.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 2;

    &__list{
        padding: 16px 0px;
        display: flex;
        justify-content: space-around;
        gap: 18px;
    }
    &__link{
        color: #9f9f9f;
        font-size: 12px;
        line-height: 16px;
    }
}
