<app-logo></app-logo>
<app-heading-primary>
    <div heading>Join the exclusive opportunity 
        <br>to be first!</div>
</app-heading-primary>
<p style="padding: 16px 16px 0px 16px;" class="value"><span style="color: white; font-weight: 700;">The White List </span>- is your chance to be among the first to access the unique and one-of-a-kind donation platform, Hyper Club <br> <br> Sign up now to be among the first to access the largest mutual donations in cryptocurrency!</p>
<app-emailform></app-emailform>
<img style="width: 100%; contain: cover; padding: 0px 16px 108px 16px; object-fit: cover;" src="../../../assets/whitelist-bgc.png" alt="">
<app-blurred-circle></app-blurred-circle>