<app-logo></app-logo>
<app-heading-primary>
    <div heading>Event at TON - USDT</div>
</app-heading-primary>
<div class="event-ton__body">
    <div class="event-ton__item item">
        <div class="item__heading">Wallet TON Address</div>
        <div class="item__input">
            <img src="../../../assets/chain.png" alt="">
            <input type="text" placeholder="123">
            <button class="item__input-btn">Add</button>
        </div>
    </div>
    <div class="event-ton__item item">
        <div class="item__heading">Wallet TON Address</div>
        <div class="item__input">
            <img src="../../../assets/chain.png" alt="">
            <input type="text" placeholder="123">
            <button class="item__input-btn">Add</button>
        </div>
    </div>
</div>