<app-logo></app-logo>
<app-heading-primary>
    <div heading>Event at TON - USDT</div>
</app-heading-primary>
<div style="border-radius: 16px 16px 0px 0px ; margin-top: 16px;" class="event-ton__body">
    <div class="event-ton__item item">
        <div class="item__heading">Wallet TON Address</div>
        <div class="item__input">
            <img src="../../../assets/chain.png" alt="">
            <input type="text" placeholder="123">
            <button class="item__input-btn">Add</button>
        </div>
    </div>
</div>
<app-ton-event-item></app-ton-event-item>
<app-ton-event-item></app-ton-event-item>
<app-ton-event-item></app-ton-event-item>
<div style="border-radius: 0 0 16px 16px; border-top: 1px solid black;" class="event-ton__body">
    <div class="event-ton__item item">
        <div class="item__heading">Wallet TON Address</div>
        <div class="item__input">
            <img src="../../../assets/chain.png" alt="">
            <input type="text" placeholder="123">
            <button class="item__input-btn">Add</button>
        </div>
    </div>
</div>
<p class="value" style="padding: 16px 16px 124px 16px;">
    Transfer only USDT on the TON network. Do not send other cryptocurrencies, we will not be able to return them to you.
</p>
<app-blurred-circle></app-blurred-circle>