<div class="home">
<app-logo></app-logo>
<app-heading-primary>
    <div heading>MULTILEVEL DONATION PLATFORM</div>
    <div tertiary>for earning in cryptocurrency</div>
</app-heading-primary>
    <div class="home__img-block">
        <img src="../../../assets/HC-cube.png" alt="">
        <p class="value">Make your first donation and receive daily rewards directly to your wallet</p>
    </div>
    <div class="home__main-site">
        <div class="home__green-button">
            <img src="../../../assets/computer.png" alt="">
                <p>Websites</p>
        </div>
        <a href="https://www.hyperclub.xyz/">https://www.hyperclub.xyz/</a>
    </div>
    <div class="rules">
        <div class="rules__item">
            <div class="rules__item-body">
                <img src="../../../assets/mark.png" alt="">
            <p class="value">Donate</p>
            <p class="heading-secondary">25 usdt</p>
            </div>
        </div>
        <div class="rules__item">
            <div class="rules__item-body">
                <img src="../../../assets/mark.png" alt="">
            <p class="value">Donate</p>
            <p class="heading-secondary">25 usdt</p>
            </div>
        </div>
        <div class="rules__item">
            <div class="rules__item-body">
                <img src="../../../assets/mark.png" alt="">
            <p class="value">Donate</p>
            <p class="heading-secondary">25 usdt</p>
            </div>
        </div>
        <div class="rules__item">
            <div class="rules__item-body">
                <img src="../../../assets/mark.png" alt="">
            <p class="value">Donate</p>
            <p class="heading-secondary">25 usdt</p>
            </div>
        </div>
    </div>
</div>
<div class="background-circles">
    <div class="blurred-circle right"></div>
    <div class="blurred-circle left"></div>
  </div>