.home{
    &__img-block{
        padding: 16px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        img{
            max-width: 100%;
        }
    }
}